* {
  margin: 0;
}

a {
  text-decoration: none;
}

/* #### App #### */

.App {
  background: #550072;
  min-height: 100vh;
}

.content {
  background-color: #001849;
  color: white;
}

.content h1 {
  margin-left: 20px;
}


/* #### Navbar #### */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  margin: 20px;
}

.links {
  margin: 20px;
}

.links a {
  margin: 5px;
  color: aliceblue;
}


/* #### Home #### */

.home {
  margin: 20px;
}


/* #### BlogList #### */

.blogs {
  margin: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.blogs:hover {
  background: rgb(49, 99, 0);
  box-shadow: 1px 3px 5px rgb(255, 0, 0);
}


/* #### Create #### */

.create {
  margin: 20px;
}

.create form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create label {
  width: 100%;
}

.create input {
  width: 100%;
}

.create textarea {
  width: 100%;
}


/* #### Blog #### */

.blog {
  margin: 20px;
}

.blog article {
  margin: 20px;
}

.blog h3 {
  margin: 10px 0;
}

.blog p {
  margin: 10px 0;
}